.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header {
  background-color: rgb(148, 156, 196);
  text-align: center;
}
.body-wrapper {
  display: grid;
  grid-template-rows: 10% 1fr;
  height: 100vh;
  border: solid 2px rgb(10, 23, 88);
}
.main {
  background-color: rgb(210, 213, 228);
}
